{% extends 'instant/base.html' %}
{% load static %}
{% block title %}SMS api description{% endblock %}
{% block head-extra %}
  <style type="text/css">
    .table thead tr th {
      text-align: center;
    }
  </style>
{% endblock %}
{% block description %}Instant API view with riot (javascript library){% endblock %}
{% block content %}
          <div id="content">
            <keys></keys>
          </div>
{% endblock %}
{% block js-extra %}
<script type="riot/tag" src="{% static 'sms/js/keys.js' %}"></script>
<script type="text/javascript" src="{% static 'sms/js/riot+compiler.min.js' %}"></script>
<script>riot.mount('keys')</script>
{% endblock %}