{% extends 'instant/base.html' %}
{% load static %}
{% block title %}Login page — InstantView{% endblock %}
{% block description %}Instant API view — Login Page{% endblock %}
{% block content %}
      <div id="content">
        <div class="col-md-8 col-md-offset-2">
        {% load widget_tweaks %}
          <form class="form-horizontal" role="form" action="{% url 'login' %}" method="post">{% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
              <div class="col-sm-10">
                {{ field|attr:"class:form-control" }}
                {% if field.help_text %}
                  <p class="help-block"><small>{{ field.help_text }}</small></p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10 text-right">
                <button type="submit" class="btn btn-success btn-lg">Login</button>
              </div>
            </div>
          </form>
          <div class="text-right">
            <a href="/accounts/password_reset/" class="btn btn-warning"><span class="glyphicon glyphicon-remove-sign"></span> Password Reset</a>
  </div>
        </div>
      </div>
{% endblock %}