{% extends 'instant/base.html' %}
{% load static %}
{% block title %}Login page — InstantView{% endblock %}
{% block description %}Instant API view — Login Page{% endblock %}
{% block content %}
      <div id="content">
        <div class="col-md-8 col-md-offset-2">
        {% load widget_tweaks %}
          <form class="form-horizontal" role="form" action="{% url 'login' %}" method="post">{% csrf_token %}
          {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Incorrect!</strong> Please enter the correct username and password. Note that both fields may be case-sensitive. 
          </div>
          {% endif %}
          {% for field in form %}
                {% if field.errors %}
                <div class="form-group has-error  {% if field.field.required %}required{% endif %}">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    <span class="help-block">
                      {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                  </div>
                </div>
                {% else %}
                <div class="form-group {% if field.field.required %}required{% endif %}">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    {% if field.help_text %}
                      <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                  </div>
                </div>
                  {% endif %}
                {% endfor %}
            <div class="col-md-6 pull-right">
              <div class="pull-right">
                <a href="/accounts/password_reset/" class="btn btn-warning"><span class="glyphicon glyphicon-remove-sign"></span> Password Reset</a>
                <button type="submit" class="btn btn-success">Login</button>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <a class="btn btn-primary" href="/login/vk-oauth2/">VK Login</a>
            </div>
          </form>
        </div>
      </div>
{% endblock %}