{% extends 'instant/base.html' %}
{% block title %}{{user.username}}Reset User password{% endblock %}
{% block description %}Instant API view — Confirm Password Reset{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="col-md-8 col-md-offset-2 text-center">
{% if validlink %}
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
		<form class="form-horizontal" role="form" method="post">{% csrf_token %}
			<div class="form-group">
					{% if form.new_password1.errors %}
          <div class="alert alert-danger">
						{{ form.new_password1.errors }}
          </div>
          {% endif %}
					{% if form.new_password2.errors %}
          <div class="alert alert-danger">
						{{ form.new_password2.errors }}
          </div>
          {% endif %}
				<label class="col-sm-3 control-label" for="id_new_password1">New password:</label>
				<div class="col-sm-8">
					{{ form.new_password1|attr:"class:form-control" }}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="id_new_password2">Confirm password:</label>
				<div class="col-sm-8">
					{{ form.new_password2|attr:"class:form-control" }}
				</div>
			</div>
<button type="submit" class="btn btn-primary">Change my password</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>
{% endblock %}
