{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Single Page Application</title>
  <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'instant/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'instant/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'instant/css/main.css' %}">
  <style type="text/css">
    .table thead tr th {
      text-align: center;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">InstantView</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/sms/">SMS</a></li>
        <li><a href="/instant/api">API</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if not user.is_authenticated %}
        <li><a href="/accounts/login/">Login</a></li>
      {% else %}
        <li><a href="/accounts/logout/?next=/">Logout</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 sidenav">
      <hr>
      <h3>Single Page Application</h3>
      <h4>This site built with:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li>Django</li>
        <li>Django REST Framework</li>
        <li>Riot js</li>
        <li>Bootstrap</li>
      </ul>
    </div>

    <div class="col-sm-9 main">
      <h4 class="text-uppercase"><small>Instant API view with riot (javascript library)</small></h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div id="content">
            <div class="col-md-8 col-md-offset-2">
            {% load i18n widget_tweaks %}
              <form class="form-horizontal" role="form" action="." method="post">
              {% csrf_token %}
              {% for field in form %}
                {% if field.errors %}
                <div class="form-group has-error">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    <span class="help-block">
                      {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                  </div>
                </div>
                {% else %}
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    {% if field.help_text %}
                      <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                  </div>
                </div>
                  {% endif %}
                {% endfor %}
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10 text-left">
                    <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/conformist-mw/django_react">This code on GitHub</a></li>
          <li><a class="navbar-brand" href="/">InstantView</a></li>
        </ul>
      </div>
    </div>
<script src="{% static 'instant/js/jquery.min.js' %}"></script>
</body>
</html>