html, body, .container-fluid, .row {
  height: 100%;
}
.navbar {
  margin-bottom: 0;
}
#welcome {
	font-size: 48px;
}
#welcome > a {
	color: #424242;
	position: absolute;
	top: 160px;
	left: 34%;

}
#content {
	margin-bottom: 60px;
}
.users {
	padding: 0 80px 25px 80px;
}
.prevLink {
	color: #0a1612;
	font-size: 80px;
	position: absolute;
	left: 130px;
	top: 250px;
}
.nextLink {
	color: #0a1612;
	font-size: 80px;
	position: absolute;
	right: 130px;
	top: 250px;
}
.user {
	font-size: 18px;
}
.user > a {
	color: #0a1612;
}
.userProfile {
	padding: 0 80px 0 80px;
	position: relative;
}
.userProfile > p {
	font-size: 15px;
}
.div-btn {
	margin: 25px 0 25px 0;
}
.div-btn > a {
	position: absolute;
	top:110px;
	left: 10px;
	font-size: 48px;
	color: #0a1612;
}
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  font-size: 18px;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}